os:
- linux
- osx
- windows

language: rust

rust:
- stable
- nightly

cache:
  timeout: 1000
  cargo: true

script:
- |
  if [[ $TRAVIS_RUST_VERSION == *stable* ]]
  then
    rustup component add rustfmt
    cargo fmt -- --check || (echo "Please reformat your code with 'cargo fmt' \
      (version $(cargo fmt --version))"; false)
- cargo update
- cargo build --all
- cargo test --all
matrix:
  allow_failures:
  - rust: nightly
  fast_finish: true

notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/8cfd8d5fa3c31aa3d0c3
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

