[package]
name = "varlink-cli"
version = "4.4.0"
authors = ["Harald Hoyer <harald@redhat.com>"]
edition = "2018"

license = "MIT/Apache-2.0"
documentation = "https://github.com/varlink/rust/blob/master/varlink/README.md"
homepage = "https://github.com/varlink/rust/blob/master/varlink-cli"
repository = "https://github.com/varlink/rust"
description = "varlink command line tool"

[[bin]]
name = "varlink"
path = "src/main.rs"

[dependencies]
varlink = { version = "10", path = "../varlink" }
varlink_stdinterfaces = { version = "10", path = "../varlink_stdinterfaces" }
varlink_parser = { version = "4", path = "../varlink_parser" }
serde = "1.0.102"
serde_json = "1.0.41"
clap = "2.33.0"
colored_json = "2.1.0"
chainerror = "0.4.3"
libc = { version = "0", default-features = false }
bitflags = "1.2.1"

[dev-dependencies]
escargot = "0.5.0"
